table, th, td, tr {
    border: 1px solid black;
}

tbody tr:nth-child(even)
{
    border-style: solid;
}

tbody tr:nth-child(odd){
    border-style: solid;
}

.btn-td-cell {
    width: 1px;
    white-space: nowrap;
}

.userCart {
    margin-top: 20px;
}