{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %} PyCraft {% endblock %}
{%block script%} <link rel="stylesheet" href="../static/index.css"> {% endblock %}

{%block content%}
<!--  -->
<div class="container d-flex align-items-center justify-content-center" id="header">
    <h1>Welcome to PyCraft!</h1>
</div>



<!--  -->
<div class="container d-flex align-items-center justify-content-center" id="getstarted">
  <div class="text-center">
    <h2>Get Started Looking at Products!</h2>
    <button type="button" class="btn btn-success"><a class="nav-link" href="login">Go Shopping</a></button>
  </div>
</div>

{% endblock %}